*,
::before,
::after {
  box-sizing: border-box;
}

:root {
}

html {
  font-family: monospace;
  direction: ltr;
  font-size: 16px;
}

body {
  margin: 0;
  margin-left: 1rem;
  height: 100vh;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

.removeTodos,
.inputContainer {
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
}

.hideToDo {
  display: none;
}
